* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 22px;
}

nav {
  margin-top: 22px;
  margin-bottom: 22px;
}

nav ul {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.grid-item {
  background-color: lightgray;
  padding: 45px;
}

header {
  margin: 1vh auto 5vh auto;
}
header h1 {
  margin-bottom: 12px;
}
